* {
    font-family: 'PT Sans Narrow', Arial, Tahoma, SF, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
}
body {
    line-height: calc(24/14);
    color: #fff;
    background: url("img/bg-img.png") center no-repeat;
    background-size: cover;
    position: relative;
}
header {
    background-color: #000;
    font-size: 16px;
}
.flex {
    display: flex;
    justify-content: space-between;
}
footer {
    background-color: #202020;
    color: #fff;
}
h2 {
    font-size: 30px;
    margin: 0 0 12px;
    line-height: calc(42/30);
}
a, button {
    color: #fff;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}
.shop-logo {
    padding: 25px 10px;
    margin: 14px 0 0;
}
.navbar-menu {
    line-height: calc(20/16);
}
.navbar-menu a {
    margin: 33px 9px 27px 0;
    padding: 10px 14px;
    font-size: 16px;
}
.login, .navbar {
    margin: 0;
}
.login a {
    background: url(img/sprites.png) -50px -35px no-repeat;
    font-size: 16px;
    margin: 31px 0 0;
    padding: 10px 23px;
}
.logo {
    text-align: center;
    margin: 60px 0;
}
.advantages {
    margin: 0 0 20px;
}
.advantages-item {
    padding: 0 6px;
    text-align: center;
}
.advantages-item>p {
    margin: 17px 0;
    padding: 10px;
}
.advantages-icon {
    margin: 0 auto;
    width: 20px;
    height: 20px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.info-wrapper {
    background: url("img/bg-wr1.jpg") #f9f6f3;
    margin: 50px 0;
    color: #000;
}
.advantages, .info-wrapper {
    display: flex;
    justify-content: space-around;
}
.news, .photo, .contacts, .form {
    padding: 48px 74px 40px;
    line-height: calc(24/14);
    width: 50%;
}
.news, .contacts {
    padding-right: 30px;
}
.photo, .form {
	background: url("img/sprites.png") -140px 90px no-repeat;
}
.news-wrapper>a {
    color: #000;
    display: inline-block;
}
.btn {
    width: 140px;
    height: 43px;
    background-color: #000;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 9px 15px;
    text-align: center;
}
.news-item, .contacts-item, .form>p {
    margin: 19px 0 26px;
}
.news-item>time {
    text-transform: none;
}
.photogallery {
    margin: 25px 0 30px;
    text-align: center;
}
.photogallery img {
    border: 6px solid #ffffff;
    width: 100%;
}
.photo button, .contacts a {
    margin-right: 17px;
}
.photo button:last-child {
    float: right;
    margin: 0;
}
.feedback-form button {
    width: 100%;
    margin: 5px 0 0 0;
}
.form-group {
    margin: 0 0 15px 0;
}
.form-group label {
    margin: 0 17px;
}
.form-group input {
    width: 140px;
    border: 2px solid #000;
    padding: 10px;
    display: block;
}
.form-group:nth-child(even) {
    margin-left: 29px;
}
.form-group:nth-child(odd) {
    margin-right: 10px;
}
.find-us, .social, .copyright {
    margin: 65px 0 39px;
    padding: 0 30px;
}
.social, .copyright {
    text-align: center;
}
.social>p, .copyright>p {
    margin: 0 0 20px;
}
.social-btn-link {
    width: 43px;
    height: 43px;
    background: #000 no-repeat 50%;
}
.social-btn-link:first-child {
    background-image: url("img/sprites.png");
    background-position: 7px -39px;
}
.social-btn-link:nth-child(2) {
    background-image: url("img/sprites.png");
    background-position: 16px 11px;
}
.social-btn-link:last-child {
    background-image: url("img/sprites.png");
    background-position: -42px 11px;
}
.shop-back {
    background: url("img/bg-wr1.jpg") #f9f6f3;
    color: #000;
}
.breadcrumbs a {
    color: #000;
    margin-right: 15px;
}
.breadcrumbs a::after {
    content: url("img/romb.svg");
    margin-left: 15px;
}
.breadcrumbs a:last-child::after {
    content: none;
}
.breadcrumbs a:last-child, .breadcrumbs a:active {
    color: #aba9a7;
}
.filter-catalog {
    margin: 55px 0;
}
.filter {
    width: 25%;
}
.catalog {
    width: 75%;
    margin-left: 50px;
    flex-wrap: wrap;
}
.catalog div.flex {
    flex-wrap: wrap;
}
.catalog-item {
    background-color: #fff;
    width: 31%;
    margin-bottom: 20px;
    box-shadow: 0 0 7px #949494;
}
.catalog-item img {
    width: 100%;
}
.catalog-item a, .catalog-item span, .social-btn-link, 
.form-group, .login a, .navbar-menu a, .shop-logo {
    display: inline-block;
}
fieldset {
    border: none;
    padding: 0;
    line-height: calc(18/14);
}
legend {
    font-size: 24px;
    margin: 30px 0;
}
.producer-item, .view-item {
    margin: 16px 0;
}
.catalog-item-description {
    padding: 16px;
}
.item-price-buy {
    margin-top: 10px;
}
.item-price-buy span {
    width: 62%;
    background-color: #e5e5e5;
    padding: 14px;
    text-align: center;
    float: left;
}
.buy {
    width: 38%;
    padding: 14px;
    height: auto;
}
.pagination .btn {
    width: 43px;
    margin-right: 7px;
}
.pagination .btn:nth-child(2), .pagination .btn:active {
    background-color: #fff;
    color: #000;
}
.item-wrapper {
    margin: 55px 0;
}
.item-photo {
    width: 50%;
}
.item-info {
    width: 40%;
}
.item-photo img, .all-img img {
    margin: 0;
    box-shadow: 0 0 7px #949494;
    width: 100%;
}
.all-img, .amount-code {
    margin: 20px 0;
}
.desc {
    margin: 30px 0;
}
.item-info>div.item-price-buy {
    width: 50%;
}
.consist {
    padding: 0;
    list-style: none;
}
.consist li::before {
    content: url("img/romb.svg");
    margin-right: 15px;
}
.consist-wrapper {
    margin: 30px 0;
}
.title {
    margin: 48px 0 20px 0;
    font-size: 30px;
    line-height: calc(42/30);
}
.auth {
    background: #000;
}
.auth-window {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    left: 50%;
    top: 50%;
    background: url("img/bg-wr1.jpg") #f9f6f3;
    color: #000;
    width: 25%;
    padding: 54px 80px;
    margin: -13%;
    transition: opacity .3s linear;
    z-index: 2;
}
.auth-window h2, .auth-window p {
    margin: 15px 0;
}
.auth-form {
    flex-wrap: wrap;
}
.auth-form-group {
    width: 100%;
    margin: 5px 0;
    padding: 10px 15px;
    border: 2px solid #000;
    color: #000;
}
.auth-remember-me {
    width: 100%;
    margin: 10px 0;
}
.auth-form button {
    width: 100%;
}
.close-window {
    position: absolute;
    right: -6%;
    top: 2%;
    width: 21px;
    height: 21px;
    background: url('img/sprites.png') -103px -2px no-repeat;
    border: 0;
    cursor: pointer;
}
.auth-form input[type="text"] {
    background: url('img/sprites.png') 287px -92px no-repeat;
}
.auth-form input[type="password"] {
    background: url('img/sprites.png') 287px -145px no-repeat;
}
.auth-remember-me input, .producer-item input, .view-item input {
    display: none;
}
.auth-remember-me label, .producer-item label, .view-item label {
    position: relative;
    padding: 3px 0 0 30px;
    cursor: pointer;
}
.auth-remember-me label::after, .producer-item label::after, .view-item label::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
}
.view-item label::after {
    border-radius: 20px;
}
.auth-remember-me input:checked + label::after, .producer-item input:checked + label::after {
    background: url('img/sprites.png') -49px -99px no-repeat;
}
.view-item input:checked + label::after {
    background: url('img/sprites.png') -48px -147px no-repeat;
}
.forgot-pass {
    color: #000;
    text-decoration: underline;
    float: right;
}
.open {
    opacity: 1;
    visibility: visible;
}
.shadow {
    width: 100%;
    height: 100%;
}
.shadow::after {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    position: absolute;
    z-index: 1;
}